.form_help_text {
  color: gray;
  margin-bottom: 12px;
}

.form-contribute {
  margin-bottom: 14px;
}

.form-contribute-label {
  color: #212529;
  font-size: 0.85rem;
  margin-top: 5px;
  white-space: normal;
}

.collapse-container {
  padding: 1rem 0 1rem 0;
}

.collapse-title {
  color: #fff !important;
  background: rgb(55, 148, 141);
  padding: 1px 12px;
  margin: 0;
  font-size: 0.85rem!important;
  font-weight: 700 !important;
}
.description-text{
  margin: 5px 0;
}
.custom-collapse {
  margin-top: 12px;
  .ant-collapse-item {
    margin-bottom: 1px;
    .ant-collapse-header {
      padding: 4px 12px;
      color: #fff !important;
      background: rgb(55, 148, 141);
      border-radius: 4px;
      align-items: center;
      .ant-collapse-header-text > h4 {
            margin-bottom: 0em;
      }
    }
    .ant-collapse-content {
      .ant-collapse-content-box {
        border-radius: 3px;
        margin-top: 5px;
        margin-bottom: 10px;
      }
    }
  }
}

.new-voyage-button {
  background-color:  rgb(55, 148, 141);
  color: #fff;
  margin-right: 0.5rem;
  height: 32;
  font-size: 0.85rem;
  &:hover {
    background-color: rgba(6, 186, 171, 0.83) !important;
  }
}
